
// Main styles for Led Zeppelin Club

// Importing colors and animations

@import 'colors';
@import 'animations';

// Default settings for body, page container and views animation container

body,
.page-container,
.view-animate-container {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	background-color: $secondaryColor;
}

// Animation styles for view transitions

.view-animate {
	position: absolute;	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin: center;	
	&.ng-enter { animation: enterView 1s ease forwards; }
	&.ng-leave {
		z-index: 0;
		animation: leaveView 1s ease forwards;
	}
}
