
// Main styles for Led Zeppelin Club

// Importing colors

@import 'colors';

// Default settings for body

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;	
	background-color: $secondaryColor;
}

// Settings for main content views

main {
	position: relative;
	width: 100vw;
	height: 100vh;
}
