
// Main styles for Led Zeppelin Club

// Importing fonts, colors, animations, etc.

@import 'fonts';
@import 'colors';
@import 'animations';
@import 'mixins';

// Default settings for body

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: $primaryColor;
	background-color: $secondaryColor;
}
