
<footer class="row no-gutters">

	<div class="col-12 col-sm-5">
		<h5>Official Websites</h5>
		<ul class="list-unstyled">
			<li>
				<a href="http://www.ledzeppelin.com/" rel="external" target="_blank">
					Led Zeppelin
				</a>
			</li>
			<li>
				<a href="http://www.robertplant.com/" rel="external" target="_blank">
					Robert Plant
				</a>
			</li>
			<li>
				<a href="http://www.jimmypage.com/" rel="external" target="_blank">
					Jimmy Page
				</a>
			</li>
		</ul>
	</div>	
	<div class="col-12 col-sm-6">
		<h5>Project By</h5>
		<div class="tcxp-box">
			<h5>
				<a href="https://thecolucciexperience.github.io/" target="_blank" 
				rel="author">
					The Colucci Experience
				</a>
			</h5>
		</div>
	</div>

</footer>
